/* BASIC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:auto;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

/* NAV */
nav {
    position: absolute;
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-around;
    width: 100%;
    font-size:10px;
}

nav h4 {
    font-family: bigFont;
    font-size: 15px;
    color: #fad888;
}

/* BODY */
.container{
    height: 100vh;
}
.container img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
}
.main-title {
    position: absolute;
    top: 10%;
    right: 15%;
    font-size:75px;
    transform: translate(-20%, -20%);
    font-family: 'bigFont';
    color: #f8d278;
}

.sub {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size:25px;
    transform: translate(-20%, -20%);
    font-family: 'paragraph';
    color: #f8d278;
}
@font-face {
    font-family: bigFont;
    src: url('/Fonts/LongLy-Regular.otf');
}

@font-face {
    font-family: paragraph;
    src: url('/Fonts/Mushy\ Loversy.ttf');
}


.container img .bee {
    position:absolute;
    height: 50vh;
}

/* CONTENT */
.content {
    width: 100%;
    background:rgb(24,24,24);
    min-height: 100%;
    z-index: 2;
    position: absolute;
}

.content-images {
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 10px;
}

.logo1 {
    border-radius: 50%;
}

.text {
    padding: 2% 20%;
    font-size: smaller;
}

/* ABOUT 
.resume {
    width: 100%;
    background:rgb(24,24,24);
    min-height: 100%;
    z-index: 2;
    position: absolute;
}

.resume-content {
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
    text-align: center;
    padding-top: 150px;
}

.resume-text {
    padding: 2% 20%;
    font-size: smaller;
}

/* CONTACT 
.contact {
    width: 100%;
    background:rgb(24,24,24);
    min-height: 100%;
    z-index: 2;
    position: absolute;
}

.contact-content {
    padding: 2% 20%;
    font-size: smaller;
}
*/
